<html>
	<head>
		<title>GIFStream</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/public/stylesheets/style.css" 
		/>
	</head>
	<body>
	<h1>Choose a feed:</h1>
	<br />
	<% for(var f in feeds) { %>
		<a href="<%= feeds[f].route %>">
			<%= feeds[f].name %>
		</a> 
	<% } %>
	</body>
</html>