<html>
	<head>
		<title>GIFStream</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/stylesheets/style.css" 
		/>
	</head>
	<body>
	GIFStream: GIFs from Reddit
	<br />
	Choose a feed:
	<br />
	<% for(var f in feeds) { %>
		<div>
			<h2>
				<a href="<%= feeds[f].route %>">
					<%= feeds[f].name %>
				</a> 
			</h2>
		</div>
	<% } %>
	<br />
	Pro-tip: Press <spacebar> to hold a GIF, <spacebar> again to reload.
	</body>
</html>