<html>
	<head>
		<title>GIFStream</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/stylesheets/style.css" 
		/>
	</head>
	<body>
	<h1>GIFStream</h1>
	<h2>Animated GIFs from Reddit</h2>
	<br />
	<% for(var f in feeds) { %>
		<span class="linkbox">
			<a href="<%= feeds[f].route %>"><%= feeds[f].name %></a> 
		</span>
	<% } %>
	<br />
	<div class="justTheTips">
		Pro-tip: Press [spacebar] to hold a GIF, [spacebar] again to reload.
	</div>
	</body>
</html>