<html>
	<head>
		<title>GIFStream</title>
		<link 
			rel="stylesheet" 
			type="text/css" 
			href="/stylesheets/style.css" 
		/>
	</head>
	<body>
	<h1>GIFStream: GIFs from Reddit</h1>
	<br />
	Choose a feed:
	<br />
	<% for(var f in feeds) { %>
		<div>
			<a href="<%= feeds[f].route %>">
				<%= feeds[f].name %>
			</a> 
		</div>
	<% } %>
	<br />
	Pro-tip: Press [spacebar] to hold a GIF, [spacebar] again to reload.
	</body>
</html>