body {
	background-color: black;
	color: white;
	text-align : center;
	font-family : arial, helvetica;
	height : 100%;
}

a {
	text-decoration : none;
	color : white;
	background-color : black;
}

a:hover {
	color : black;
	background-color : white;
}

a:active {
	color : white;
	background-color : black;
}

#gif {
	width : 99%;
	height : 99%;
	position : relative;
	align : left;
}

#gif img {
	display : block;
	margin : 0 auto;
	clear : both;
	width : auto;
	height : 95%;
}

#description {
	font-weight : bold;
}

#author {
	font-style : italic;
}

#date {
	font-style : italic;
}
