body {
	background-color : black;
	color : white;
	padding : 1em;
	font : 12px Helvetica, Arial, sans-serif;
}

a {
	text-decoration : none;
	color : white;
	background-color : black;
}

a:hover {
	color : black;
	background-color : white;
}

a:active {
	color : white;
	background-color : black;
}

div {
	float : left;
	border : 1px solid white;
}