body {
	background-color : black;
	color : white;
	font : Helvetica, Arial, sans-serif;
	font-weight : bold;
	font-size: 12;
}

h1 {
	font-size : 18;
}

a {
	font-size: 18;
	text-decoration : none;
	color : white;
	background-color : black;
}

a:hover {
	color : black;
	background-color : white;
}

a:active {
	color : white;
	background-color : black;
}

div {
	padding : 1em;
	float : left;
}

br {
	clear : both;
}

.linkbox {
	border-style : solid;
	border-color : white;
	border-width : 1px;
	padding: 50px;
}