body {
	background-color : black;
	color : white;
	font : 14 Helvetica, Arial, sans-serif;
	font-weight : bold;
}

h1 {
	font-size : 18;
	clear : both;
}

a {
	font-size: 16;
	text-decoration : none;
	color : white;
	background-color : black;
}

a:hover {
	color : black;
	background-color : white;
}

a:active {
	color : white;
	background-color : black;
}

div {
	padding : 1em;
	float : left;
}

br {
	clear : both;
}